<form (ngSubmit)="submit()">
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-widget-list [pageConfig]="data.pageViewConfig"></app-widget-list>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" type="submit">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
    (click)="hideModal()">Close</button>
  </div>
</form>
