<app-grid-container [grid-template]="gridTemplate">
  <app-grid-item [gridAreaName]="'hd'" [value]="'header'"></app-grid-item>
  <app-grid-item [gridAreaName]="'main'" [value]="'main'"></app-grid-item>
  <app-grid-item [gridAreaName]="'sd'" [value]="'sidebar'"></app-grid-item>
  <app-grid-item [gridAreaName]="'ft'" [value]="'footer'"></app-grid-item>
  <app-grid-item [gridAreaName]="'asd'" [value]="'another sidebar'"></app-grid-item>
</app-grid-container>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="template1()">1</button>
  <button class="btn btn-primary" (click)="template2()">2</button>
</div>
