h4 {
    margin: 5px;
}

.head {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
}

.status {
    color: red;
    align-items: baseline;
}

.infoBlock {
    display: flex;
    align-items: baseline;
}

.infoBlock > button {
    margin: 1px 5px 0 5px;
}