app-header {
  z-index: auto !important;
}

.app-tree-node {
  nz-tree {
    background-color: rgb(35, 40, 44) !important;


    nz-tree-node {
      transition: all .3s;
      padding: 0;
      min-height: 50px;

      nz-tree-node-title{
        background-color: #7B1FA2;
      }

      //nz-tree-node-title:hover {
      //  transition: none;
      //  -moz-transition: none;
      //  -webkit-transition: none;
      //  -o-transition: none;
      //  background-color: #20A8D8;
      //
      //  span {
      //    background-color: #20A8D8;
      //  }
      //}
    }

    nz-tree-node:hover {
      background-color: #20A8D8;
    }
  }


}


