app-header {
  z-index: auto !important;
  flex-wrap: nowrap !important;
}

.modules-list {
  height: 100%;
  width: 90%;
  display: flex;
  overflow: hidden;
}

.btn-outline-secondary {
  max-width: 200px;
  min-width: 200px;
  border: none;
  color: black;
}

.btn-outline-secondary:hover {
  background-color: rgb(244, 244, 234);
}

.btn-outline-secondary:active {
  background-color: rgb(220, 220, 210) !important;
}

.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.1rem rgba(200, 206, 211, 0.5);
}

.scrollButtons {
  max-width: 50px;
  min-width: 50px;
}

.hiddenButton {
  display: none;
}
