.p-10 {
  padding: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-r-10 {
  margin-right: 10%;
}

.m-l-10 {
  margin-left: 10%;
}

textarea {
  width: 100%;
  height: 5em;
  overflow-y: scroll;
  resize: none;
}

nz-date-picker {
  width: 100%;
}
