a {
    text-decoration: none;
    color: white;
}

.nav {
    width: 11em;
    grid-area: nav;
    background-color: #13ce66;
    margin: 1em 0 1em 0;
    color: white;
}

.nav li {
    font-size: 20px;
    line-height: 2em;
    cursor: pointer;
    padding: 0 0 0 1em;
}

.nav li:last-child {
    margin-top: 1.3em;
}

.nav li:hover {
    background-color: #2cb267;
}
