<tabset>
  <tab (selectTab)="onTabChange($event)" *ngFor="let tab of tabs; let i = index" [heading]="tab.title">
    <ng-container [ngSwitch]="tab.config.widgetConfig.type">
      <app-dynamic-tree-list
        [index]="i"
        (onChanged)="onChanged($event)"
        *ngSwitchCase="'TREE_LIST_VIEW'"
        [treeListConfig]="{widgetConfig: tab.config.widgetConfig, widgetData: getWidgetData(tab.config.widgetConfig.options.get_data_path.value)}"></app-dynamic-tree-list>
    </ng-container>
  </tab>
</tabset>
